<h4 (click)="toggleAccordion()" class="ion-text-center">
  <b>
  {{ year }}
  </b>
  <span>
    <ion-icon name="arrow-dropdown-circle" *ngIf="isMenuOpen"></ion-icon>
    <ion-icon name="arrow-dropdown" *ngIf="!isMenuOpen"></ion-icon>
  </span>
</h4>
<div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
  <app-concensus-item [concensus]="concensus" *ngFor="let concensus of concensusList"></app-concensus-item>
</div>
