h4 {
  cursor: pointer;
  position: relative;
  padding: 0.9em 0.9em;
  color:#3171e0;
  font-family: 'Lora', sans-serif;
  border-bottom: 1px solid rgba(210,210,210,1);
  margin: 0;


  /* Define the style rules for the 'arrow icons' */
  span {
    position: absolute;
    color:mediumblue;
    right: 0.3em;
    top: 1.2em;
    font-size: 0.95em;
  }
}


/* Here we define the actual 'menu' and its 'options' */
.image-wrapper {
  margin: 0 auto 2em auto;
  width: 20%;

  img {
    display: block;
    margin: auto;
  }
}


p {
  line-height: 1.2em;
  margin: 0 0 1em 0;
  font-family: 'Lora', sans-serif;
  font-size: 1rem;
}

div {
  position: relative;
  padding: 0.5em;
  border-bottom: 1px solid rgba(210, 210, 210, 1);

}

/* Following classes display/hide the 'menu'
// based on the state change detection in the
// component class */
.active {
  display: block
}

.inactive {
  display: none;
}
