<h4 (click)="toggleAccordion()">
  {{ concensus.title }}
  <span>
    <ion-icon name="eye" *ngIf="!isMenuOpen"></ion-icon>
    <ion-icon name="eye-off" *ngIf="isMenuOpen"></ion-icon>
  </span>
</h4>
<div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
  <p><i><strong>Resumen:</strong> {{ concensus.summary }}</i></p>
  <p><i><strong>Palabras Clave:</strong> {{ concensus.tags }}</i></p>
  <p><i><strong>Autor:</strong> {{ concensus.user }}</i></p>
  <div class="ion-text-center">
    <app-file-downloader *ngIf="(concensus.existLocalFile == null || concensus.existLocalFile == false)" (fileSavedUrl)=onFileSavedUrl($event) [fileName]="'concensus' + concensus.id" [folder]="'concensus'" [downloadUrl]="concensus.fileUrl" ></app-file-downloader>
    <app-pdf-viewer *ngIf="(concensus.existLocalFile !== null && concensus.existLocalFile)" [fileName]="'concensus' + concensus.id" [folder]="'concensus'"></app-pdf-viewer>
  </div>
</div>
