<ion-header>
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding-top">
    <ion-text color="secondary">
      <h1>Configuración</h1>
    </ion-text>
  </div>

  <ion-item-divider></ion-item-divider>

  <div class="ion-text-center ion-padding-top">
    <p>Pantalla de Configuracion</p>
  </div>
</ion-content>
