<ion-header>
    <ion-toolbar>    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center ion-padding-top">
      <ion-text color="secondary">
        <h1>SAP</h1>
      </ion-text>
    </div>

    <ion-item-divider></ion-item-divider>

    <div class="ion-text-center ion-padding-top">
        <ion-text color="medium">
            <h5>Ingreso</h5>
        </ion-text>
    </div>
    <form (ngSubmit)="onSubmit()" padding-right [formGroup]="formGroup">
        <ion-item lines="inset">
            <ion-icon name="person"></ion-icon>
            <ion-input  formControlName="username" placeholder="usuario" clearInput="true"></ion-input>
        </ion-item>
        <div class="error-container">
            <ng-container *ngFor="let validation of validations.username">
                <div class="error-message" *ngIf="formGroup.get('username').hasError(validation.type) && (formGroup.get('username').dirty || formGroup.get('username').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                </div>
            </ng-container>
        </div>

        <ion-item lines="inset">
            <ion-icon name="lock"></ion-icon>
            <ion-input formControlName="password" type="password" placeholder="contraseña" clearInput="true"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.password">
              <div class="error-message" *ngIf="formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty || formGroup.get('username').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
              </div>
          </ng-container>
        </div>

        <div class="ion-text-center ion-padding-top">
            <ion-button expand="block" size="" slot="end" type="submit" [disabled]="!formGroup.valid">Iniciar sesion<ion-icon name="log-in"></ion-icon></ion-button>
        </div>
    </form>
</ion-content>


