<ion-app [class.dark-theme]="dark">
  <ion-header>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="loggedIn; else loggedOut">
        <ion-button (click)="logOutUser()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar sesion
        </ion-button>
      </ion-buttons>
      <ng-template #loggedOut>
        <ion-buttons slot="end">
          <ion-button routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
            <ion-icon slot="start" name="log-in"></ion-icon>
            Iniciar sesion
          </ion-button>
        </ion-buttons>
      </ng-template>
    </ion-toolbar>
  </ion-header>

  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            Navegar
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/home" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                Inicio
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root" detail="false" *ngIf="(p.loginRequired && loggedIn) || !p.loginRequired">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
