<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Concensos</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateConcensus()" placeholder="Buscar"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center ion-padding-top">
        <ion-text color="secondary">
            <h1 class="lora">Concensos</h1>
        </ion-text>
    </div>

    <ion-item-divider></ion-item-divider>

    <app-concensus-group [year]="concensusAux.key" [concensusList]="concensusAux.value" *ngFor="let concensusAux of concensusByYearMap | keyvalue: keyDescOrder"></app-concensus-group>
    <!--
    <ion-list>
        <ion-item *ngFor="let concensus of concensusList">
            <ion-label>
                <h3>{{concensus.title}}</h3>
                <p>
                    {{concensus.summary}}
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    -->
</ion-content>
