<ion-header>
  <ion-toolbar>
    <ion-title>SAP app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <img src="assets/img/logo.png" class="slide-image" />
    <p>Bienvenido</p>
  </div>
</ion-content>
