@font-face {
  font-family: 'Fresca';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Fresca/Fresca-Regular.eot);
  src: local('Fresca-Regular'), local('Fresca'), url(assets/fonts/Fresca/Fresca-Regular.ttf) format('truetype'), url(assets/fonts/Fresca/Fresca-Regular.woff2) format('woff2'), url(assets/fonts/Fresca/Fresca-Regular.eot?#iefix) format('embedded-opentype'), url(assets/fonts/Fresca/Fresca-Regular.svg#Fresca) format('svg'), url(assets/fonts/Fresca/Fresca-Regular.woff) format('woff');
}

