@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(assets/fonts/OpenSans/Open-Sans-Light-Italic.woff2) format('woff2'), url(assets/fonts/OpenSans/Open-Sans-Light-Italic.woff) format('woff'), url(assets/fonts/OpenSans/Open-Sans-Light-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(assets/fonts/OpenSans/Open-Sans-Italic.woff2) format('woff2'), url(assets/fonts/OpenSans/Open-Sans-Italic.woff) format('woff'), url(assets/fonts/OpenSans/Open-Sans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(assets/fonts/OpenSans/Open-Sans-Bold-Italic.woff2) format('woff2'), url(assets/fonts/OpenSans/Open-Sans-Bold-Italic.woff) format('woff'), url(assets/fonts/OpenSans/Open-Sans-Bold-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(assets/fonts/OpenSans/Open-Sans-Light.woff2) format('woff2'), url(assets/fonts/OpenSans/Open-Sans-Light.woff) format('woff'), url(assets/fonts/OpenSans/Open-Sans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/OpenSans/Open-Sans-Regular.eot);
  src: local('Open Sans Regular'), local('OpenSans-Regular'), local('Open Sans'), url(assets/fonts/OpenSans/Open-Sans-Regular.woff2) format('woff2'), url(assets/fonts/OpenSans/Open-Sans-Regular.eot?#iefix) format('embedded-opentype'), url(assets/fonts/OpenSans/Open-Sans-Regular.woff) format('woff'), url(assets/fonts/OpenSans/Open-Sans-Regular.svg#OpenSans) format('svg'), url(assets/fonts/OpenSans/Open-Sans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(assets/fonts/OpenSans/Open-Sans-Bold.woff2) format('woff2'), url(assets/fonts/OpenSans/Open-Sans-Bold.woff) format('woff'), url(assets/fonts/OpenSans/Open-Sans-Bold.ttf) format('truetype');
}

